
.games{
    color: blue;
    
}
.woods{color: blue;}
.goals{color: blue;}
h3{
    color: yellow;
}
#UAE{
    color: lightgreen;
}
#Swimming{
    color: lightgreen
}
#programmer{
    color: lightgreen;
}
.Natural{color: lightblue;}
.Indutural{color: lightblue;}